<header class="actor-header">
	<img
		class="actor-img"
		data-edit="img"
		height="128"
		src="{{actor.img}}"
		title="{{actor.name}}"
		width="128"
	/>
	<div class="actor-header-details">
		<h1 class="actor-name">
			{{#if editModeEnabled}}
				<input
					name="name"
					placeholder="{{localize 'ATOW.input_placeholder.name'}}"
					type="text"
					value="{{actor.name}}"
				/>
			{{else}}
				{{actor.name}}
			{{/if}}
		</h1>
		<div class="actor-affiliation">
			{{#if editModeEnabled}}
				<input
					name="system.background.affiliation"
					placeholder="{{localize "ATOW.character.affiliation"}}"
					type="text"
					value="{{actor.system.background.affiliation}}"
				>
			{{else}}
				{{actor.system.background.affiliation}}
			{{/if}}
		</div>
	</div>
</header>
